<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/profitness_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/profitness_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProFitness"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.ProFitness">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intensity_focus"
            android:exported="false" />
        <activity
            android:name=".hydration_tracker"
            android:exported="false" />
        <activity
            android:name=".exercise_details"
            android:exported="false" />
        <activity
            android:name=".active_workout"
            android:exported="false" />
        <activity
            android:name=".Your_progress"
            android:exported="false" />
        <activity
            android:name=".Elite_plan"
            android:exported="false" />
        <activity
            android:name=".nutrition_log"
            android:exported="false" />
        <activity
            android:name=".exercise_library"
            android:exported="false" />
        <activity
            android:name=".settings"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".Home_dashboard"
            android:exported="false" />
        <activity
            android:name=".register5"
            android:exported="false" />
        <activity
            android:name=".register4"
            android:exported="false" />
        <activity
            android:name=".register3"
            android:exported="false"
            android:theme="@style/Theme.ProFitness" />
        <activity
            android:name=".register2"
            android:exported="false"
            android:theme="@style/Theme.ProFitness" />
        <activity
            android:name=".login"
            android:exported="false"
            android:theme="@style/Theme.ProFitness" />
        <activity
            android:name=".register"
            android:exported="false"
            android:theme="@style/Theme.ProFitness" />
        <activity
            android:name=".welcome_screen"
            android:exported="false"
            android:theme="@style/Theme.ProFitness" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProFitness" />

        <receiver
            android:name=".notifications.ReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".notifications.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>